{# rendezvous.html.twig #}

{% extends 'base.html.twig' %}

{% block head %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Appointment{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% block css %}
  
  {# Favicons #}
  <link href= "{{ asset('front/img/favicon.png') }}" rel="icon">
  <link href= "{{ asset('front/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  {# Fonts #}
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href= "https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  {# Vendor CSS Files #}
  <link href="{{ asset('front/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('front/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('front/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ asset('front/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ asset('front/vendor/aos/aos.css') }}" rel="stylesheet">

  {# Template Main CSS File #}
  <link href="{{ asset('front/css/main.css') }}" rel="stylesheet">

  {% endblock css %}

</head>
{% endblock head %}

{% block header %}
    
    
{% endblock header %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{{ asset('base.html.twig') }}" class="logo d-flex align-items-center me-auto me-xl-0">
        {# Uncomment the line below if you also wish to use an image logo #}
        {# <img src="{{ asset('front/img/logo.png') }}" alt=""> #}
        <h1>Vitalize</h1>
        <span>.</span>
      </a>

      {# Nav Menu #}
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ path('home') }}#about">About</a></li>
          <li><a href="{{ path('home') }}#hero" >Home</a></li>
          <li><a href="{{ path('app_fiche_index') }}#fichedespatients">Medecin</a></li>
          <li><a href="{{ path('app_rendez_vous') }}#rendezvous"class="active">Appointment</a></li>
          <li><a href="{{ path('home') }}#team">Team</a></li>
          <li class="dropdown has-dropdown"><a href="{{ asset('#') }}"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="{{ asset('#') }}">Dropdown 1</a></li>
              <li class="dropdown has-dropdown"><a href="{{ asset('#') }}"><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i></a>
                <ul class="dd-box-shadow">
                  <li><a href="{{ asset('#') }}">Deep Dropdown 1</a></li>
                  <li><a href="{{ asset('#') }}">Deep Dropdown 2</a></li>
                  <li><a href="{{ asset('#') }}">Deep Dropdown 3</a></li>
                  <li><a href="{{ asset('#') }}">Deep Dropdown 4</a></li>
                  <li><a href="{{ asset('#') }}">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="{{ asset('#') }}">Dropdown 2</a></li>
              <li><a href="{{ asset('#') }}">Dropdown 3</a></li>
              <li><a href="{{ asset('#') }}">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="{{ asset('home') }}#contact">Contact</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>{# End Nav Menu #}

      <a class="btn-getstarted" href="{{ asset('base.html.twig#about') }}">Get Started</a>

    </div>
  </header>{# End Header #}


  <main id="main">

    {# Hero Section - Home Page #}
    <section id="hero" class="hero">
        <img src="{{ asset('front/img/hero-bg.jpg') }}" alt="" data-aos="fade-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Our Website</h2>
                    <p data-aos="fade-up" data-aos-delay="200">Unlocking Health and Wellness: Our Expert Nutritionists are Here to Streamline Your Journey!</p>
                </div>
                <form class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300" method="GET" action="{{ path('app_rendez_vous') }}#api_users_search_by_nom">
                    <input type="text" class="form-control" name="name" placeholder="Enter Doctor Name">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </section>
<script>
    function scrollToSearchResults() {
        // Scroll to the search results section
        document.getElementById('api_users_search_by_nom').scrollIntoView({ behavior: 'smooth' });
    }
</script>
    <!-- Search results -->
    <br>
     <section id="api_users_search_by_nom" class="container">
        <div class="row justify-content-center">
            {% for medecin in medecins %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ medecin.nom }}</h5>
                            <p class="card-text">{{ medecin.prenom }}</p>
                            <p class="card-text">{{ medecin.tel }}</p>
                            <p class="card-text">ID: {{ medecin.id }}</p>
{% if medecin.id is defined %}
    <form action="{{ path('app_r_d_v_new', {'medic_id': medecin.id}) }}" method="GET">
        <button type="submit" class="btn btn-primary">Book</button>
    </form>
    
{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

</main>






{% endblock body %}
{% block footer %}
   <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{{ asset('base.html.twig') }}" class="logo d-flex align-items-center">
            <span>Vitalize</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="{{ asset('#') }}"><i class="bi bi-twitter"></i></a>
            <a href="{{ asset('#') }}"><i class="bi bi-facebook"></i></a>
            <a href="{{ asset('#') }}"><i class="bi bi-instagram"></i></a>
            <a href="{{ asset('#') }}"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{{ asset('#') }}">Home</a></li>
            <li><a href="{{ asset('#') }}">About us</a></li>
            <li><a href="{{ asset('#') }}">Services</a></li>
            <li><a href="{{ asset('#') }}">Terms of service</a></li>
            <li><a href="{{ asset('#') }}">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="{{ asset('#') }}">Web Design</a></li>
            <li><a href="{{ asset('#') }}">Web Development</a></li>
            <li><a href="{{ asset('#') }}">Product Management</a></li>
            <li><a href="{{ asset('#') }}">Marketing</a></li>
            <li><a href="{{ asset('#') }}">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p>United States</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        {# All the links in the footer should remain intact. #}
        {# You can delete the links only if you've purchased the pro version. #}
        {# Licensing information: https://bootstrapmade.com/license/ #}
        {# Purchase the pro version with working PHP/AJAX contact form: [buy-url] #}
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
    {# Scroll Top Button #}
    <a href="{{ asset('#') }}" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    {# Preloader #}
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  </footer>{# End Footer #}
{% endblock footer %}
{% block javascripts %}
    <script src="{{ asset('public/front/js/main.js') }}"></script>
{% endblock %}

