{% extends 'base.html.twig' %}

{# fichepatient.html.twig #}

{% block head %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Patient Sheet{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% block css %}
  
  {# Favicons #}
  <link href= "{{ asset('front/img/favicon.png') }}" rel="icon">
  <link href= "{{ asset('front/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  {# Fonts #}
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href= "https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  {# Vendor CSS Files #}
  <link href="{{ asset('front/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('front/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('front/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ asset('front/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ asset('front/vendor/aos/aos.css') }}" rel="stylesheet">

  {# Template Main CSS File #}
  <link href="{{ asset('front/css/main.css') }}" rel="stylesheet">

  {% endblock css %}

</head>
{% endblock head %}

{% block header %}
    
    
{% endblock header %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{{ path('home') }}" class="logo d-flex align-items-center me-auto me-xl-0">
        {# Uncomment the line below if you also wish to use an image logo #}
        {# <img src="{{ asset('front/img/logo.png') }}" alt=""> #}
        <h1>Vitalize</h1>
        <span>.</span>
      </a>

      {# Nav Menu #}
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ path('home') }}#about">About</a></li>
          <li><a href="{{ path('home') }}#hero" >Home</a></li>
          <li><a href="{{ path('app_fiche_index') }}#fichedespatients">Medecin</a></li>
          <li><a href="{{ path('app_rendez_vous') }}#portfolio"class="active">Appointment</a></li>
          <li><a href="{{ path('home') }}#team">Team</a></li>
          <li class="dropdown has-dropdown"><a href="{{ asset('#') }}"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="{{ asset('#') }}">Dropdown 1</a></li>
              <li class="dropdown has-dropdown"><a href="{{ asset('#') }}"><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i></a>
                <ul class="dd-box-shadow">
                  <li><a href="{{ asset('#') }}">Deep Dropdown 1</a></li>
                  <li><a href="{{ asset('#') }}">Deep Dropdown 2</a></li>
                  <li><a href="{{ asset('#') }}">Deep Dropdown 3</a></li>
                  <li><a href="{{ asset('#') }}">Deep Dropdown 4</a></li>
                  <li><a href="{{ asset('#') }}">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="{{ asset('#') }}">Dropdown 2</a></li>
              <li><a href="{{ asset('#') }}">Dropdown 3</a></li>
              <li><a href="{{ asset('#') }}">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="{{ asset('home') }}#contact">Contact</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>{# End Nav Menu #}

      <a class="btn-getstarted" href="{{ path('home') }}#about">Get Started</a>

    </div>
  </header>{# End Header #}
 
<main id="main" style="text-align: center;">
    <br><br><br><br><br> 
    <div style="background-color: #f0f0f0; padding: 20px; border-radius: 10px;">
        <h1 style="color: #333333; background-color: #ffffff; padding: 10px; border-radius: 5px;">RendezVous</h1>

        <table class="table" style="color: #333333; background-color: #ffffff; border-radius: 5px;">
            <tbody>
                <tr>
                    <th style="padding: 10px;">Id</th>
                    <td style="padding: 10px;">{{ rendez_vou.id }}</td>
                </tr>
                <tr>
                    <th style="padding: 10px;">Date</th>
                    <td style="padding: 10px;">{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d') : '' }}</td>
                </tr>
               
               
            </tbody>
        </table>

        <a href="{{ path('app_r_d_v_index') }}" class="btn btn-primary" style=" color: #ffffff; border: none; border-radius: 5px; padding: 10px 20px; margin-right: 10px;">Back to List</a>

        <a href="{{ path('app_r_d_v_edit', {'id': rendez_vou.id}) }}" class="btn btn-primary" style=" color: #ffffff; border: none; border-radius: 5px; padding: 10px 20px; margin-right: 10px;">Edit</a>

        {{ include('rendez_vous/_delete_form.html.twig') }}
    </div>
</main>
<br><br><br>
{% endblock %}
